.left-panel{
    width:250px;
}
.right-panel{
    width:250px;
}

[md-tab-label]{
    font-size: 8px;
    min-width: 50px;
}

[md-tab-label]{
    display: none;
    
}

.md-overlay-pane{
    width:100%
}

.md-tab-header{
    display: none;
}

.hidden{
    display:none;
}